<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.bkaas.app" version="1.0.2">
  <name>BKaaS</name>
  <description>BKaaS provides you a simple solution for your day to day Accounting.</description>
  <author href="http://bkaas.com" email="info@bkaas.com">BKaaS</author>
  <content src="login.html"/>
  <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="DisallowOverscroll" value="true" />
	
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
	
    <icon src="Icon.png"/>
  <splash src="splash.png" />
  <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="res/icons/ios/Icon-57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="res/icons/ios/Icon-60.png" gap:platform="ios" width="60" height="60"/>
  <icon src="res/icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="res/icons/ios/Icon-76.png" gap:platform="ios" width="76" height="76"/>
  <icon src="res/icons/ios/Icon-57@2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="res/icons/ios/Icon-60-2x.png" gap:platform="ios" width="120" height="120"/>
  <icon src="res/icons/ios/Icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
  <icon src="res/icons/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152"/>
  <icon src="res/icons/ios/Icon-small.png" width="29" height="29" />
   <icon src="res/icons/ios/Icon-small@2x.png" width="58" height="58" />
  <icon src="res/icons/windows-phone/icon-48.png" gap:platform="winphone"/>
  <icon src="res/icons/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background"/>
  <gap:splash src="res/screens/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="res/screens/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="res/screens/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="res/screens/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>  
  <gap:splash src="res/screens/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="res/screens/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="res/screens/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="res/screens/windows-phone/screen-portrait.jpg" gap:platform="winphone"/>
    <access origin="*" />
	<access origin="http://*" launch-external="yes" />
    <access origin="https://*" launch-external="yes" />
	<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    <param name="ios-package" value="CDVInAppBrowser" />
</feature>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	<config-file platform="ios" parent="NSCameraUsageDescription" mode="replace">  
  <string>BKaaS want to access your Camera</string>  
 </config-file>
 <config-file platform="ios" parent="NSPhotoLibraryUsageDescription" mode="replace">  
  <string>BKaaS wants to access your Photo Library</string>  
 </config-file>
</widget>
